.dashboard-quickLinks-container {
  margin-left: 5rem;
  margin-top: 3rem;
  width: 80%;
}

.dashboard-quickLinks-cards {
  display: inline-block;
}

.section-title {
  font-size: 24px;
  margin-left: 1.5rem;
}
