.container {
  background: linear-gradient(#fff, #dbe9f5);
  display: flex;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  top: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.logoContainer {
  margin-top: -15px;
  height: 200px;
  padding-left: 1.9%;
  padding-right: 1.99%;
  width: 13%;
}
.logo {
  background-image: url(../../../../assets/VincoColorEng.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.loginInputContainer {
  color: #000;
  position: absolute;
  right: 0.5%;
  top: 10px;
}
.loginInputContainer input {
  border-radius: 10px;
  border-width: 1px;
  height: 20px;
  margin-left: 15px;
  width: 160px;
}
.loginInputContainer button {
  background-color: #5d8aa8;
  border-width: 1px;
  color: #fff;
  height: 20px;
  margin-left: 15px;
  width: 115px;
}
.tabElementsContainer {
  font-size: 15px;
  list-style: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 80%;
}
.tabElement {
  color: #000;
  cursor: pointer;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #5d8aa8;
  text-decoration-thickness: 1.4px;
}
.tabElement:hover {
  background: #5d8aa8;
  color: #fff;
  text-decoration-color: #dbe9f5;
  transition: all 0.9s ease 0s;
}
.StudentPortailTabElement {
  background: #353a3b;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 10px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1.4px;
}
.StudentPortailTabElement:hover {
  background: #000;
  transition: all 0.9s ease 0s;
}
.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

@media screen and (max-width: 709px) {
  .tabElementsContainer {
    flex-direction: column;
    height: auto;
  }
  .tabElement:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .tabElement {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}

/*
  Background Animation
*/
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(39, 117, 168, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
