.container {
  background: linear-gradient(#fff, #dbe9f5);
  display: flex;
  position: absolute;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  top: 0;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
.logoContainer {
  margin-top: -15px;
  height: 200px;
  padding-left: 1.9%;
  padding-right: 1.99%;
  width: 13%;
}
.logo {
  background-image: url(../../../../assets/VincoColorEng.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
.loginInputContainer {
  color: #000;
  position: absolute;
  right: 0.5%;
  top: 10px;
}
.loginInputContainer input {
  border-radius: 10px;
  border-width: 1px;
  height: 20px;
  margin-left: 15px;
  width: 160px;
}
.loginInputContainer button {
  background-color: #5d8aa8;
  border-width: 1px;
  color: #fff;
  height: 20px;
  margin-left: 15px;
  width: 115px;
}
.btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  color: #000;
  font-size: 18px;
}

@media screen and (max-width: 709px) {
  .tabElementsContainer {
    flex-direction: column;
    height: auto;
  }
  .tabElement:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .tabElement {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    text-align: center;
    margin-right: 0px;
    padding: 20px 0;
  }
  .btn {
    display: block;
  }
}
