.library-content {
  margin-left: 17rem;
  padding-top: 5rem;
  width: 100%;
}

.library-search-container {
  align-items: center;
  display: flex;

  border: 1px solid;
  border-radius: 20px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;

  padding-left: 1rem;
  padding-right: 0rem;

  height: 2rem;
  width: 40%;
}

.library-search {
  border: 0;
  outline: 0;

  height: 100%;
  width: 90%;
}

.library-search-icon {
  background-image: url("../../../../../../assets/loupe.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  width: 20px;
}
.success-message {
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
  color: yellowgreen;
  font-size: 16px;
}
.pdf-list-container {
  align-items: center;
  background-color: #f5f5f5;
  display: flex;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-bottom: 1rem;
  height: 4rem;
  width: 100%;
}
.pdf-list-element {
  color: #000;
  text-decoration: underline;
  margin-left: 2rem;
}
.pdf-list-element:hover {
  color: #96a9b6;
}
.pdf-icon {
  background-image: url("../../../../../../assets/pdf.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 0.5rem;
  height: 3rem;
  width: 3rem;
}
