.navigation-container {
  background: linear-gradient(
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    #fff,
    transparent
  );
  font-family: "Open Sans", sans-serif;
  height: 20vh;
  min-height: 20vh;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
}

.home-site-logo-container {
  height: 200px;
  margin-top: -15px;
  padding-left: 1.9%;
  padding-right: 1.99%;
  width: 13%;
}
.home-site-logo {
  background-image: url(../../../../assets/VincoColorEng.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/*
  Staff login styling
*/
.staff-login-form-container {
  color: #000;
  position: absolute;
  right: 0.5%;
  top: 10px;
}
.staff-login-form-container input {
  border-radius: 10px;
  border-width: 1px;
  height: 20px;
  margin-left: 15px;
  width: 160px;
}
.staff-login-form-container button {
  background-color: #5d8aa8;
  border-width: 1px;
  color: #fff;
  height: 20px;
  margin-left: 15px;
  width: 115px;
}

/*
  Tab navigation elements styling
*/
.tab-list-container {
  display: block;
  font-size: 15px;
  list-style: none;
  position: fixed;
  right: 0;
  top: 40px;
  width: 80%;
}
.tab-element {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #000;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #5d8aa8;
  text-decoration-thickness: 1.4px;
}
.tab-element:hover {
  background: #5d8aa8;
  color: #fff;
  text-decoration-color: #dbe9f5;
  transition: all 0.9s ease 0s;
}
.active-tab-element {
  background: #5d8aa8;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 5px;
  margin-bottom: 0px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #dbe9f5;
  text-decoration-thickness: 1.4px;
}
.student-portail-tab-element {
  background: #353a3b;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1.4px;
}
.student-portail-tab-element:hover {
  background: #000;
  transition: all 0.9s ease 0s;
}

/* 
  Dropdown styling
*/
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-menu {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: block;
  left: 0;
  list-style: none;
  padding: 0.75rem;
  position: absolute;
  top: 2.8rem;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 100ms ease-in-out;
  width: 200px;
  z-index: 99;
}
.tab-element:hover + .dropdown-menu {
  cursor: pointer;
  display: block;
  top: 2.8rem;
  transform: translateY(0);
  z-index: 100 !important;
}

.dropdown-menu li {
  color: #000;
}
.dropdown-menu li:hover {
  color: #5d8aa8;
  cursor: pointer;
}
.dropdown-menu nav-tab-hr {
  background: #5d8aa8;
  border-width: 0;
  height: 2px;
}
.dropdown-menu a {
  text-decoration: none;
}
