.second-title {
  font-size: 24px;
  font-weight: bold;
}

.student-list-element {
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-bottom: 2px;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 80%;
}

.student-name {
  margin-left: 10px;
  padding-left: 10px;
}

.student-number {
  float: right;
  margin-right: 10px;
  top: 0;
}

.remove-from-list {
  color: red;
  cursor: pointer;
  margin-bottom: 10px;
  text-decoration: underline;
}
