.nav-Container {
  font-family: "Open Sans", sans-serif;
  height: 45vh;
  min-width: 100%;
  min-height: 20vh;
  overflow: hidden;
  position: fixed;
  background: linear-gradient(#fff, #fff, transparent, transparent);
  top: 0;
  width: 100%;
  z-index: 9;
}

.loginInputContainer {
  color: #000;
  position: absolute;
  right: 0.5%;
  top: 10px;
}
.loginInputContainer input {
  border-radius: 10px;
  border-width: 1px;
  height: 20px;
  margin-left: 15px;
  width: 160px;
}
.loginInputContainer button {
  background-color: #5d8aa8;
  border-width: 1px;
  color: #fff;
  height: 20px;
  margin-left: 15px;
  width: 115px;
}

.tabElementsContainer {
  font-size: 15px;
  list-style: none;
  position: absolute;
  display: block;
  right: 0;
  top: 40px;
  width: 80%;
}
.tabElement {
  color: #000;
  cursor: pointer;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #5d8aa8;
  text-decoration-thickness: 1.4px;
}
.tabElement:hover {
  background: #5d8aa8;
  color: #fff;
  text-decoration-color: #dbe9f5;
  transition: all 0.9s ease 0s;
}
.activeTabElement {
  background: #5d8aa8;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #dbe9f5;
  text-decoration-thickness: 1.4px;
}
.StudentPortailTabElement {
  background: #353a3b;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 5px;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1.4px;
}
.StudentPortailTabElement:hover {
  background: #000;
  transition: all 0.9s ease 0s;
}

.logoContainer {
  margin-top: -15px;
  height: 200px;
  padding-left: 1.9%;
  padding-right: 1.99%;
  width: 13%;
}
.logo {
  background-image: url(../../../../assets/VincoColorEng.svg);
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-menu {
  display: none;
  position: absolute;
  left: 0;
  color: #000;
  width: 200px;
  top: calc(100% + 0.25rem);
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  pointer-events: none;
  margin-bottom: 50px;
  z-index: 1;
}
.dropdown > .tabElement:hover + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: none;
}
.dropdown > .activeTabElement:hover + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: none;
}
.dropdown-menu a {
  color: #000;
  text-decoration: none;
}
.dropdown-menu a:hover {
  background: #5d8aa8;
  color: #fff;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

hr {
  height: 2px;
  background: #5d8aa8;
  border-width: 0;
}
.show {
  display: block;
}
