.subjects-list-container {
  display: block;
  margin-left: 0.5rem;
}

.first-subtitle {
  font-size: 30px;
}

.subjects-list {
  font-size: 18px;
}

.add-new-module {
  margin-bottom: 80px;
  margin-top: -2rem;
  position: relative;
  z-index: 9;
}
