.subjects-list-container {
  display: block;
  margin-left: 0.5rem;
}

.first-subtitle {
  font-size: 30px;
}

.subjects-list {
  font-size: 18px;
}

.add-new-module {
  margin-bottom: 80px;
  margin-top: -2rem;
  position: relative;
  z-index: 9;
}

.pop-up-title {
  align-items: center;
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  width: 100%;
}

.create-course-pop-up-title {
  align-items: center;
  display: flex;
  font-size: 23px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px;
}

.create-course-input {
  display: flex;
  font-size: 16px;
  height: 1.5rem;
  outline-color: #5d8aa8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  width: 60%;
}

.create-month-input {
  display: flex;
  font-size: 16px;
  height: 1.5rem;
  outline-color: #5d8aa8;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  padding-left: 5px;
  padding-right: 5px;
  width: 60%;
}
#select-a-teacher {
  align-items: center;
  background-color: #353839;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  float: left;
  justify-content: center;
  margin-left: 7.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 10rem;
}
.dropdown-icon {
  background-image: url("../../../../../../assets/caret-down.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  margin-left: 10px;
  margin-top: 5px;
  width: 1rem;
}
.selected-teacher {
  text-align: center;
  background-color: aliceblue;
  justify-content: center;
  margin-right: 10rem;
  padding: 1rem;
  height: 1rem;
}
.selected-semester {
  text-align: center;
  background-color: aliceblue;
  color: #000;
  justify-content: center;
  margin-left: 14rem;
  padding: 1rem;
  position: absolute;
  height: 1rem;
}
#select-a-period {
  align-items: center;
  background-color: #353839;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  float: left;
  justify-content: center;
  margin-right: 5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 12rem;
}

#courseOverview {
  font-size: 16px;
  min-height: 10rem;
  max-height: 10rem;
  min-width: 55%;
  max-width: 55%;
  padding: 1rem;
}

.select-course-dropdown {
  background-color: #f5f5f5;
  height: auto;
  margin-left: 8rem;
  margin-top: -1.5rem;
  overflow-y: scroll;
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30%;
  z-index: 999999;
}
.select-course-dropdown-hr {
  background-color: #96a9b6;
  height: 0.5px;
  width: 93%;
  margin-top: 0px;
}
.select-course-dropdown-title {
  color: lightgray;
  font-size: 20px;
  padding: 8px;
  padding-left: 1rem;
}
.select-course-dropdown-label {
  color: #000;
  font-size: 15px;
  margin-top: -0.5rem;
  padding: 5px;
  padding-left: 1rem;
}
.select-course-dropdown-label:hover {
  color: #96a9b6;
  cursor: context-menu;
}
.select-period-dropdown {
  background-color: #f5f5f5;
  height: auto;
  margin-left: 0.5rem;
  margin-top: 2.6rem;
  overflow-y: scroll;
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30%;
  z-index: 999999;
}

.select-month-dropdown {
  background-color: #f5f5f5;
  height: 10rem;
  margin-left: 0rem;
  margin-top: 13.2rem;
  overflow-y: scroll;
  position: absolute;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 30%;
  z-index: 999999;
}
