.container {
  background: linear-gradient(#fff, #dbe9f5);
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn {
  color: #000;
  display: none;
  font-size: 18px;
  padding: 5px;
  position: absolute;
  right: 10px;
  top: 7px;
}

@media screen and (max-width: 709px) {
  .tabElementsContainer {
    flex-direction: column;
    height: auto;
  }
  .tabElement:nth-child(1) {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-top: 50px;
  }
  .tabElement {
    border-top: 1px solid rgba(255, 255, 255, 0.555);
    margin-right: 0px;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  .btn {
    display: block;
  }
}
