.this-container {
  margin-top: 2rem;
}

.faculty-add-button {
  background-image: url("../../../../../../assets/add-button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  float: right;
  margin-bottom: 1rem;
  margin-right: 2rem;
  height: 2.5rem;
  width: 2.5rem;
}

.departments-list-container {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: inline-block;
  font-size: 20px;
  justify-content: center;
  margin-left: 2rem;
  padding-left: 1rem;
  position: relative;
  width: 91.8%;
}
.department-list-title {
  align-items: center;
  background-color: #353839;
  color: #f5f5f5;
  cursor: pointer;
  display: flex;
  float: left;
  font-size: 17px;
  height: 2.5rem;
  justify-content: space-between;
  margin-left: 2rem;
  padding-left: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: transform 0.3s;
  width: 91.8%;
}
.department-list-title:hover {
  background-color: #000;
}
.active-department-list-title {
  align-items: center;
  background-color: #000;
  color: #f5f5f5;
  cursor: pointer;
  display: flex;
  float: left;
  font-size: 17px;
  height: 2.5rem;
  justify-content: space-between;
  margin-left: 2rem;
  padding-left: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  transition: transform 0.3s;
  width: 91.8%;
}

.departments-list-container a {
  text-decoration: none;
}
.departments-list-container ul li {
  color: #000;
  cursor: pointer;
  font-size: 17px;
  margin-top: 1rem;
  text-decoration: underline;
}
.departments-list-container ul li:hover {
  color: #5d8aa8;
}

.qualification-container {
  color: #000;
  padding: 10px;
}
.add-qualification {
  color: #353839;
  cursor: pointer;
  font-size: 16px;
  margin-left: 69%;
  padding-bottom: 10px;
  text-transform: capitalize;
}
.qualification-container div:hover {
  color: #5d8aa8;
}

.qualification-list {
  color: #000;
  font-size: 16px;
  text-transform: capitalize;
}

.department-list-hr {
  background-color: #96a9b6;
  height: 0.5px;
  width: 90%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  margin-left: 0rem;
}
