.admin-navTab-container {
  align-items: top;
  display: flex;
  font-family: "Open Sans", sans-serif;
  margin-top: 5%;
  position: relative;
  top: 0;
  width: 100%;
  min-width: 100%;
}

.admin-navTab-element {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #000;
  cursor: pointer;
  font-size: 17px;
  margin: 5px;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  text-decoration: underline;
  text-decoration-color: #000;
  text-decoration-thickness: 1.4px;
}
.admin-navTab-element:hover {
  color: #5d8aa8;
  text-decoration-color: #5d8aa8;
  transition: all 0.3s ease 0s;
}
