.classesList-container {
  background: linear-gradient(#fff, #f5f5f5);
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 90%;
}

.classesList-hearder {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.allClasses-text {
  background-color: #5d8aa8;
  color: #fff;
  cursor: context-menu;
  font-size: 15px;
  margin-left: 2rem;
  padding: 10px;
  text-transform: uppercase;
}
.search-class {
  border: 1px solid;
  border-radius: 20px;
  font-size: 17px;
  margin-right: 2rem;
  margin-top: 0;
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}
.search-class:focus {
  outline: none;
}

hr {
  background-color: #96a9b6;
  height: 0.5px;
  width: 93%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.class-card-container {
  display: flex;
  height: auto;
  justify-content: center;
  margin-left: 1rem;
  width: 100%;
}
.class-card {
  background: linear-gradient(to bottom, #96a9b6, #f1f1f1);
  border-radius: 10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
  height: 13rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  margin-right: 2rem;
  transition: transform 0.3s; /* Animation */
  width: 20%;
}
.class-card:hover {
  box-shadow: 2px 2px 12px rgba(33, 33, 33, 0.2);
  transform: scale(1.05);
}

.edit-icon {
  float: right;
  height: 1.5rem;
  position: relative;
  right: 0.5rem;
  top: 0;
  width: 1.5rem;
}
.edit-icon:hover {
  box-shadow: 2px 2px 12px rgba(33, 33, 33, 0.2);
  transform: scale(1.05);
}

.grade-text {
  font-size: 25px;
  margin-top: 20%;
  text-align: center;
}

.classType-text {
  font-size: 18px;
  margin-top: 1%;
  text-align: center;
}

.subjects-text {
  background: linear-gradient(to right, #5d8aa8, #96a9b6);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 2rem;
  margin-top: 15%;
  text-align: center;
  transition: transform 0.3s;
}
.subjects-text:hover {
  box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
  transform: scale(1.02);
}

.students-text {
  background: linear-gradient(to right, #96a9b6, #5d8aa8);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 2rem;
  margin-top: 5%;
  text-align: center;
  transition: transform 0.3s;
  width: 100%;
}
.students-text:hover {
  box-shadow: 1px 1px 1px rgba(33, 33, 33, 0.2);
  transform: scale(1.02);
}
