.classesList-container {
  align-items: center;
  background: linear-gradient(#fff, #f5f5f5);
  height: 50rem;
  justify-content: center;
  margin: 6rem;
  margin-top: 4rem;
  width: 85%;
}

.classesList-hearder {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
}
.allClasses-text {
  background-color: #5d8aa8;
  color: #fff;
  font-size: 15px;
  margin-left: 2rem;
  padding: 10px;
  text-transform: uppercase;
}
.search-class {
  border: 1px solid;
  border-radius: 20px;
  font-size: 17px;
  margin-right: 2rem;
  margin-top: 0;
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
}
.search-class:focus {
  outline: none;
}

hr {
  background-color: #96a9b6;
  height: 0.5px;
  width: 93%;
  margin-top: 0.5rem;
}

.class-card-container {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  width: 100%;
}
.class-card {
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  cursor: pointer;
  height: 15rem;
  justify-content: space-around;
  margin-left: 2rem;
  transition: transform 0.3s; /* Animation */
  width: 25%;
}
.class-card:hover {
  box-shadow: 2px 2px 12px rgba(33, 33, 33, 0.2);
  transform: scale(1.05);
}
