.presentation-title {
  font-size: 30px;
  left: 25px;
  margin-top: 30vh;
  position: absolute;
  top: 0vh;
  width: 50%;
}
.presentation-text {
  font-size: 18px;
  right: 0px;
  margin-top: 0vh;
  position: absolute;
  top: 25vh;
  width: 50%;
}
.color-Over {
  background-color: #ffffe0;
}
.explore-button {
  border: 2px solid;
  border-color: #353a3b;
  cursor: pointer;
  height: 25px;
  width: 200px;
  padding: 15px;
  top: 65vh;
  left: 20vh;
  padding-left: 75px;
  padding-right: 75px;
  position: relative;
  text-align: center;
}
.explore-button:hover {
  color: #fff;
  border-color: #353a3b;
  background: #353a3b; /*5d8aa8*/
  transition: all 0.9s ease 0s;
}
