/*

  The styling component of the staff Header component.  
  
  Every class Name container here starting with 'staff',
  to avoid conflicts between styling components.   

*/

.staff-header-container {
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.staff-header-logo-container {
  height: 3.5rem;
  margin-left: 1rem;
  width: 3.5rem;
}
.staff-header-logo {
  background-image: url("../../../../assets/Vinco-Color-Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.institution-name {
  font-size: 1.5rem;
  margin-left: 0.2rem;
}

.user-settings {
  background: linear-gradient(to left, green, red, orange);
  border-radius: 50px;
  cursor: pointer;
  height: 3rem;
  margin-right: 1rem;
  padding: 0.1rem;
  position: absolute;
  right: 0;
  width: 3rem;
}
.user-avatar {
  background-image: url("../../../../assets/ThatsMeSalam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100%;
  margin: auto;
  width: 100%;
}
