.staff-header-container {
  align-items: center;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  height: 3.5rem;
  width: 100%;
}

.staff-header-logo-container {
  height: 3.5rem;
  margin-left: 1rem;
  width: 3.5rem;
}
.staff-header-logo {
  background-image: url("../../../../assets/Vinco-Color-Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.institution-name {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.path-container {
  margin-left: 1rem;
}

.user-settings {
  height: 3rem;
  margin-right: 1rem;
  position: absolute;
  right: 0;
  width: 3rem;
}
.user-avatar {
  background-image: url("../../../../assets/user-avatar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
