/*

  The styling component of the staff Header component.  
  
  Every class Name container here starting with 'staff',
  to avoid conflicts between styling components.   

*/

.staff-header-container {
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: "Open Sans", sans-serif;
  display: flex;
  height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.staff-header-logo-container {
  height: 3.5rem;
  margin-left: 1rem;
  width: 3.5rem;
}
.staff-header-logo {
  background-image: url("../../../../assets/Vinco-Color-Icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.header-institution-name {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  margin-left: 0.2rem;
}

.notification-icon-container {
  display: inline-block;
  cursor: pointer;
  height: 2rem;
  margin-right: 5rem;
  padding: 0.1rem;
  position: absolute;
  right: 0;
  top: 0.4rem;
  width: 2rem;
}
.notification-icon {
  background-image: url("../../../../assets/bell.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}
.notification-dropdown {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: block;
  right: 1rem;
  list-style: none;
  padding: 0.75rem;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  top: 2.4rem;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 100ms ease-in-out;
  width: 15rem;
  max-height: 20rem;
}
.notification-list-container {
}
.notification-title {
  font-size: 14px;
  font-weight: bold;
}
.notification-description {
  font-size: 14px;
  font-weight: normal;
}

.user-settings {
  background: linear-gradient(to left, green, red, orange);
  border-radius: 50px;
  display: inline-block;
  cursor: pointer;
  height: 2.5rem;
  margin-right: 1rem;
  padding: 0.1rem;
  position: absolute;
  right: 0;
  top: 0.4rem;
  width: 2.5rem;
}
.user-avatar {
  background-image: url("../../../../assets/ThatsMeSalam.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  height: 100%;
  margin: auto;
  position: relative;
  width: 100%;
}
.profile-dropdown-menu {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  color: #000;
  cursor: pointer;
  display: block;
  right: 0.5rem;
  list-style: none;
  padding: 0.75rem;
  position: absolute;
  top: 2.8rem;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 100ms ease-in-out;
  width: 10rem;
}
.profile-dropdown-menu li {
  color: #000;
  text-decoration: none;
}
.profile-dropdown-menu li:hover {
  color: #5d8aa8;
  cursor: pointer;
}
.sign-out {
  color: red;
}
.sign-out:hover {
  color: #dc143c;
}
