/*

  The styling component of the StaffPortal pages.
  each parameter starts with 'staff-pages'
  to avoid conflicts with other  styling components.

*/

.staff-pages-container {
  background: #f5f5f5;
  display: flex;
  height: 100rem;
  position: relative;
  width: 100%;
}

.staff-pages-content {
  margin-left: 0rem;
  margin-top: 5rem;
  width: 100%;
}

.staff-pages-header-tilte-container {
  text-decoration: underline;
}

.staff-pages-header-tilte {
  font-size: 25px;
  margin-left: 2rem;
}

.staff-pages-header-dropdown {
  cursor: pointer;
}

.staff-pages-header-dropdown-menu {
  background: #f5f5f5;
  list-style: none;
  padding-bottom: 10px;
  position: absolute;
  width: 100%;
  z-index: 99999999;
}

.staff-pages-header-dropdown-menu li {
  align-items: center;
  display: flex;
  font-size: 23px;
  height: 40px;
}
.staff-pages-header-dropdown-menu li:hover {
  color: #5d8aa8;
}

.staff-page-hr {
  background-color: #96a9b6;
  height: 0.5px;
  width: 93%;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
