.message-list-container {
  background-color: #fff;
  height: 100%;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  width: 100%;
}

.message-list {
  display: block;
}

.message-list-first-element {
  height: 5rem;
}
.message-list-last-element {
  padding: 6rem;
}
.sender-message-element {
  background: linear-gradient(to right, #1488cc, #2b32b2);
  border-radius: 20px;
  color: #fff;
  height: auto;
  margin-bottom: 10px;
  margin-left: 64%;
  right: 0;
  padding: 10px;
  position: relative;
  width: 20rem;
}

.receiver-message-element {
  align-items: center;
  background: linear-gradient(to right, #1f4037, #99f2c8);
  bottom: 0;
  border-radius: 20px;
  color: #fff;
  height: auto;
  justify-content: center;
  margin-bottom: 10px;
  margin-left: 14rem;
  padding: 10px;
  position: relative;
  width: 20rem;
}

.sender-time {
  font-size: 12px;
  bottom: 0;
  color: #000;
  margin-bottom: 20px;
  margin-left: 65%;
  margin-top: -10px;
  right: 0;
  position: relative;
}
.sender-name {
  font-size: 12px;
  bottom: 0;
  color: #000;
  margin-left: 65%;
  margin-top: -10px;
  right: 0;
  position: relative;
}
.receiver-time {
  font-size: 12px;
  bottom: 0;
  color: #000;
  margin-bottom: 10px;
  margin-left: 15rem;
  margin-top: -10px;
  position: relative;
}
.receiver-name {
  font-size: 12px;
  bottom: 0;
  color: #000;
  margin-left: 15rem;
  position: relative;
}
