.generalEvent-content {
  margin-left: 17rem;
  padding-top: 5rem;
  width: 100%;
}

.event-list-container {
  display: flex;
  margin-left: 4rem;
}

.add-event-card {
  position: absolute;
  right: 5rem;
}
.add-event-icon {
  align-items: center;
  background-image: url("../../../../../../assets/plus1234.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 2rem;
  position: absolute;
  right: 0rem;
  top: -1.5rem;
  width: 2rem;
}
