/*

  This is the general 'SideNavigation' styling,
  component.

  It should only affects child components: 
  [FullSideNavigation, ToggledSideNavigation];
  And the main component: [SideNavigation]

*/

.sideNav-container {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  float: left;
  height: 100%;
  left: 0;
  margin-top: 3rem;
  overflow-x: hidden;
  padding-top: 20px;
  top: 0;
  transition: 0.3s;
  position: fixed;
  z-index: 9;
}

.side-navigation-text {
  align-items: center;
  display: inline-block;
  justify-content: center;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 15px;
  margin-left: 0.5rem;
  width: auto;
  z-index: 1;
}

.dashboard-icon {
  background-image: url("../../../../assets/dashboard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.classes-icon {
  background-image: url("../../../../assets/online-learning.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.module-icon {
  background-image: url("../../../../assets/modules.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.students-icon {
  background-image: url("../../../../assets/learning.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.manage-users-icon {
  background-image: url("../../../../assets/people.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.exams-icon {
  background-image: url("../../../../assets/test.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.time-table-icon {
  background-image: url("../../../../assets/calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.events-icon {
  background-image: url("../../../../assets/event.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}
.reports-icon {
  background-image: url("../../../../assets/report.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.logout-container {
  width: 100%;
}
.logout-icon {
  background-image: url("../../../../assets/log-out.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.toggle-icon {
  background-image: url("../../../../assets/double-left-arrows-symbol.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  display: inline-block;
  height: 1.5rem;
  margin-left: 12rem;
  margin-top: 1rem;
  width: 1.5rem;
}
