/*
  ClassesPage styling component.
*/

.students-page-header {
  display: flex;
}

.search-students-container {
  align-items: center;
  justify-content: center;
  width: 100%;
}
.search-student {
  border-radius: 15px;
  border: 1px solid;
  float: left;
  font-size: 18px;
  height: 2rem;
  margin-left: 2rem;
  padding-left: 15px;
  padding-right: 15px;
  width: 60%;
}
.search-student:focus {
  outline: none;
}

.register-button-container {
  width: 100%;
}
.register-button {
  background-color: #4169e1;
  border: 0;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 18px;
  height: 2rem;
  margin-right: 2rem;
  transition: 0.3s;
  width: 40%;
}
.register-button:hover {
  background-color: #4682b4;
}
