/*
  ExamsPage styling component.
*/

.exams-calendar-tilte {
  background-color: #353839;
  color: #f5f5f5;
  cursor: pointer;
  display: flex;
  float: left;
  font-size: 25px;
  height: 2.5rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
  text-decoration: none;
  transition: transform 0.3s;
  width: 91.8%;
}
.exams-calendar-tilte:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.02);
}
.access {
  margin-right: 2rem;
}

.class-list-container {
  align-items: center;
  background-color: #fff;
  color: #000;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin-left: -1rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.exams-classes-container {
  background-color: #353839;
  color: #fff;
  cursor: context-menu;
  display: block;
  float: left;
  font-size: 25px;
  height: 2.5rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
  text-decoration: none;
  transition: transform 0.3s;
  width: 91.8%;
}

.exams-class-card {
  align-items: center;
  background: linear-gradient(to right, #ffe259, #ffa751);
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  height: 10rem;
  justify-content: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
  opacity: 0.8;
  width: 10rem;
  text-decoration: none;
  transition: transform 0.3s;
}
.exams-class-card:hover {
  background: linear-gradient(#ffe259, #ffa751);
  color: #000;
  opacity: 1;
  transform: scale(1.05);
}

.exam-class-card-container6 {
  align-items: center;
  background: linear-gradient(to right, #4568dc, #b06ab3);
  border-radius: 10px;
  color: #000;
  cursor: pointer;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  height: 10rem;
  justify-content: center;
  margin-right: 2rem;
  opacity: 0.8;
  width: 10rem;
  transition: transform 0.3s;
}
.exam-class-card-container6:hover {
  background: linear-gradient(#4568dc, #b06ab3);
  color: #000;
  opacity: 1;
  transform: scale(1.05);
}

.bgimage-exam-class-card {
  align-items: center;
  background-image: url("../../../../assets/calendar.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 60%;
  opacity: 0.2;
  width: 60%;
  transition: transform 0.3s;
}

.exam-class-card-text {
  font-size: 40px;
  position: absolute;
  transition: transform 0.3s;
}
.exam-class-card-text:hover {
  transform: scale(1.11);
}
